[submodule "ctrlp.vim"]
	path = vim/.vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim
[submodule "vim/.vim/bundle/syntastic"]
	path = vim/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule "vim/.vim/bundle/taboo.vim"]
	path = vim/.vim/bundle/taboo.vim
	url = https://github.com/gcmt/taboo.vim
[submodule "vim/.vim/bundle/typescript-vim"]
	path = vim/.vim/bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "vim/.vim/bundle/omnisharp-vim"]
	path = vim/.vim/bundle/omnisharp-vim
	url = https://github.com/OmniSharp/omnisharp-vim
[submodule "vim/.vim/bundle/quick-scope"]
	path = vim/.vim/bundle/quick-scope
	url = https://github.com/unblevable/quick-scope
[submodule "vim/.vim/bundle/asyncomplete"]
	path = vim/.vim/bundle/asyncomplete
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "vim/.vim/bundle/vim-sharpenup"]
	path = vim/.vim/bundle/vim-sharpenup
	url = https://github.com/nickspoons/vim-sharpenup
[submodule "vim/.vim/bundle/fzf"]
	path = vim/.vim/bundle/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/bundle/fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/bundle/lightline.vim"]
	path = vim/.vim/bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/.vim/bundle/lightline-ale"]
	path = vim/.vim/bundle/lightline-ale
	url = https://github.com/maximbaz/lightline-ale
[submodule "vim/.vim/bundle/vim-fugitive"]
	path = vim/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
